<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ct.emergency" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HospitalDetails"/>
        <activity android:name=".AddDoctor"/>
        <activity android:name=".ViewHospital"/>
        <activity android:name=".AdminHome"/>
        <activity android:name=".AddHospital"/>
        <activity android:name=".AddDiagnostic"/>
        <activity android:name=".AddPharmacy"/>
        <activity android:name=".ViewHospDetails"/>
        <activity android:name=".UserHome"/>
        <activity android:name=".HospitalInfo"/>
        <activity android:name=".Doctorslist"/>
        <activity android:name=".PharmacyInfo"/>
        <activity android:name=".PharmacyList"/>
        <activity android:name=".DiagnosticsInfo"/>
        <activity android:name=".DiagnosticsList"/>
        <activity android:name=".AdminLogin"/>
        <activity android:name=".Register"/>

        <activity android:name=".UserLogin"/>
    </application>

</manifest>
